.site-container {
  text-align: left;
  width: 85%;
  margin: auto;
  background-color: transparent !important;
}

.main-section {
  margin: 2.5rem;
}

.App {
  text-align: center;
  min-height: 83vh;
  margin-bottom: 0 !important;
  background-color: #F0EDE6;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.footer {
  margin-top: auto;
}

.navbar-brand h6 {
  text-align: left !important;
  color: #F7AEA2;
}

.titleFont {
  font-family: corner-store-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
}
