.site-container {
  text-align: left;
  width: 85%;
  margin: auto;
  background-color: transparent !important;
}

.main-section {
  margin: 2.5rem;
}

.App {
  text-align: center;
  min-height: 83vh;
  margin-bottom: 0 !important;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.footer {
  margin-top: auto;
}

.navbar-brand h6 {
  text-align: left !important;
}